@import '../../../variables';

.al-activity {
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
    padding-bottom: $spacing-md;
    border-bottom: 1px solid $simple-gray;

    &:hover {
        background-color: #f0f0f0;
    }

    .al-date {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: $spacing-xs;
        color: $simple-gray;
    }


    &:last-child {
        border-bottom: none;
    }
}

.al-current-activity {
    background-color: $accent-color;
    color: white;
    transition: background-color 0.3s;

    &-title {
        color: white;
    }

    &:hover {
        background-color: darken($accent-color, 10%);
    }

    .al-date {
        color: white;
    }
}

.al-badges {
    display: flex;
    flex-wrap: wrap;
    margin-top: $spacing-xs;
    gap: $spacing-xs;

    .al-badge {
        padding: $spacing-xs $spacing-sm;
        border-radius: $border-radius;
        font-size: $body-font-size-mob;
        border: 1px solid white;
        display: flex;
        align-items: center;
        gap: $spacing-xs;
        color: white;
        background-color: white;
        color: $secondary-color;
        border-color: $secondary-color;

        &--current {
            color: white;
            background-color: $accent-color;
            border-color: white;
        }

        &-best {

            background-color: $secondary-color ;
            color: white
        }

    }


}