@import '../../../variables.scss';

.sb-chart-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sb-chart-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $spacing-sm;
}