<div class="chart-container">
    <ngx-charts-bar-vertical [scheme]="scheme" [results]="lapData" [xAxis]="true" [yAxis]="true" [yScaleMax]="yScaleMax"
        [yScaleMin]="yScaleMin" [customColors]="colors" [barPadding]="1" (select)="onSelect($event)"
        [tooltipDisabled]="true" />
</div>


<div class="chart-navigation">
    <button class="navigation-button" (click)="selectPrevBar()">
        <ng-icon name="letsArrowLeft" />
    </button>
    <span class="text-primary">
        {{selectedLap?.originalValue}}
        {{selectedLap?.originalValue === fastestLap?.originalValue ? '(snelste ronde)' : ''}}
    </span>
    <button class="navigation-button" (click)="selectNextBar()">
        <ng-icon name="letsArrowRight" />
    </button>
</div>