@import "../../../variables";

.badge {
  padding: $spacing-xs $spacing-sm;
  border-radius: $border-radius-sm;
  font-size: $body-font-size-mob;
  font-weight: normal;
  border: 1px solid white;
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  color: white;
  background-color: white;
  color: $secondary-color;
  border-color: $secondary-color;
  width: 100%;
  position: relative;
  overflow: hidden;

  &--current {
    color: white;
    background-color: $accent-color;
    border-color: white;
  }

  &--best {
    background-color: $secondary-color;
    color: white;
  }

  &__fill {
    background-color: $secondary-color;
    height: 5px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
  }
}
