<form>
  <div
    *ngIf="i.checkStatistics$ | async as checklistStats"
    class="checklist-stats"
  >
    <ng-container *ngFor="let stat of checklistStats">
      <div>
        <div class="checklist-stats-item">
          <div class="checklist-stats__name">
            {{ stat.instructionName }}
          </div>

          <div class="checklist-stats-score">
            <div class="stars">
              <ng-container
                *ngFor="let star of [1, 2, 3, 4, 5]; let starIndex = index"
              >
                <label
                  [ngClass]="{ 'active-star': stat.score >= star }"
                  for="star-{{ starIndex }}"
                >
                  ★
                </label>
              </ng-container>
            </div>
          </div>

          <div class="checklist-stats-count">
            <div>
              {{ stat.score | number: "1.0-1" }}
            </div>
            <div>{{ stat.count }}×</div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</form>
