<div class="video-page">
  <div class="video-controls">
    <div
      [ngClass]="{ 'video-signal': true, 'video-signal--active': confidence }"
    >
      {{ confidence ? "Goede herkenning" : "Geen herkenning" }}
    </div>
    <button (click)="resetTrace()">Reset</button>
  </div>
  <div class="video-data">
    <cad-angle-gauge [data]="kneeAngleLeft" [title]="'Kniehoek links'" />
    <cad-angle-gauge [data]="kneeAngleRight" [title]="'Kniehoek rechts'" />
  </div>

  <ngx-charts-line-chart
    [view]="[500, 400]"
    [results]="results"
    colorScheme="colorScheme"
    [legend]="false"
    [xAxis]="true"
    [yAxis]="true"
    [yScaleMax]="120"
    [yScaleMin]="30"
    [timeline]="true"
  >
  </ngx-charts-line-chart>
  <div class="video-container">
    <video #video autoplay muted playsinline></video>
    <canvas #canvas></canvas>
  </div>
</div>
