<div class="video-page">
    <div [ngClass]="{'video-signal':true, 'video-signal--active' :confidence }">
        {{confidence ? 'Goede herkenning' : 'Geen herkenning'}}
    </div>
    <div class="video-controls">
        <cad-angle-gauge [data]="kneeAngleLeft" [title]="'Kniehoek links'" />
        <cad-angle-gauge [data]="kneeAngleRight" [title]="'Kniehoek rechts'" />
    </div>
    <div class="video-container">
        <video #video autoplay muted playsinline></video>
        <canvas #canvas></canvas>
    </div>
</div>