@import "../../../variables.scss";

.video-page {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.video-container {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;

  video,
  canvas {
    position: absolute;
  }
}

.video-controls {
  display: flex;
}

.video-data {
  min-height: 100px;
  display: flex;
}

.video-signal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: $border-radius-sm;
  margin: 0 10px;
  background-color: $subtle-color;
  color: $simple-gray;
  border: 1px solid $simple-gray;
  transition: all 0.3s;
  animation: pulse 1s infinite;

  &--active {
    color: white;
    background-color: $accent-color;
    border: 1px solid $accent-color;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
