<ng-container *ngIf="lapChartOptions?.series?.length">
    <div class="px-1 py-1">
        <div id="chart" class="card">
            <div class="card-header">
                <h2>Rondetijden (s)</h2>
            </div>
            <div class="card-body">
                <apx-chart #firstChart [series]="lapChartOptions.series" [chart]="lapChartOptions.chart"
                    [xaxis]="lapChartOptions.xaxis" [markers]="lapChartOptions.markers"
                    [stroke]="lapChartOptions.stroke" [yaxis]="lapChartOptions.yaxis"
                    [dataLabels]="lapChartOptions.dataLabels" [title]="lapChartOptions.title"
                    [fill]="lapChartOptions.fill" [tooltip]="lapChartOptions.tooltip" [legend]="lapChartOptions.legend"
                    [plotOptions]="lapChartOptions.plotOptions" />
            </div>
        </div>
    </div>
</ng-container>