@import "../../../variables.scss";

.menu-bar {
  background-color: $subtle-color;
  border-bottom: 1px solid #e9ecef;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &-item {
    display: flex;
    background-color: $subtle-color;
  }
}
