@import "../../../variables.scss";

.page {
  margin-top: 64px;

  @media (min-width: $breakpoint-mobile) {
    margin-top: 96px;
  }
}

.loading {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(100vh / 2 - 64px);
  gap: $spacing-sm;

  .loading-text {
    font-size: $body-font-size;
    color: $simple-gray;
  }
}

.above-zero {
  fill: $secondary-color;
  animation: rect 5s infinite ease-in-out;
}

.zero-container {
  stroke: $secondary-color;
  stroke-width: 2;
}

@keyframes rect {
  0% {
    transform: translateX(-95px);
    fill: lighten($secondary-color, 10%);
  }

  50% {
    transform: translateX(95px);
    fill: lighten($secondary-color, 20%);
  }

  100% {
    transform: translateX(-95px);
    fill: lighten($secondary-color, 10%);
  }
}
