<div
  [ngClass]="{ 'modal-open': ui.modalOpen$ | async, modal: true }"
  (click)="ui.toggleModal()"
  (keypress)="ui.toggleModal()"
  tabindex="0"
>
  <div
    class="modal-content"
    (click)="stopPropagation($event)"
    tabindex="0"
    (keyup)="stopPropagation($event)"
  >
    <cad-tabs [tabs]="tabs" [groupId]="'modal'">
      <div class="modal-row">
        <ng-container *ngIf="sortStatus$ | async as status">
          <button
            class="btn btn-subtle"
            (click)="toggleSortDirection()"
            type="button"
          >
            <ng-icon
              *ngIf="status.sortDirection === 'asc'"
              name="letsSortUp"
              size="24"
              [color]="theme.secondarycolor"
            />

            <ng-icon
              *ngIf="status.sortDirection === 'desc'"
              name="letsSortDown"
              size="24"
              [color]="theme.secondarycolor"
            />
          </button>
          <ng-container *ngFor="let option of sortOptions">
            <button
              class="btn btn-subtle modal-sort"
              (click)="sortBy(option.value)"
              type="button"
              [ngClass]="{ active: status.sortBy === option.value }"
            >
              {{ option.label }}
            </button>
          </ng-container>
        </ng-container>
      </div>
      <ng-container *ngIf="sortedActivities$ | async as activities">
        <cad-tab [tabId]="'current'" [groupId]="'modal'">
          <cad-activitieslist [activities]="activities.current" />
        </cad-tab>
        <cad-tab [tabId]="'previous'" [groupId]="'modal'">
          <cad-activitieslist [activities]="activities.previous" />
        </cad-tab>
      </ng-container>
    </cad-tabs>
  </div>
</div>
