@import "../../../variables.scss";

.d-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 8;
  transition: opacity 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.d-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: white;
  padding: $spacing-lg;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;

  &--open {
    transform: translateX(0);
  }

  &-item {
    display: flex;
    align-items: center;
    margin-bottom: $spacing-lg;
    color: $secondary-color;
    background-color: white;
    padding: 0;
    gap: $spacing-xs;
  }

  &-nav {
    margin-top: $spacing-lg;
    color: $secondary-color;
    text-decoration: none;
    gap: $spacing-sm;
    display: flex;
    flex-direction: column;
    font-size: $heading-font-size;

    &:hover {
      color: $primary-color;
    }
  }
}

.d-back-item {
  display: flex;
  align-items: center;
  margin-bottom: $spacing-lg;
  color: $secondary-color;
  background-color: white;
  padding: 0;
  gap: $spacing-xs;
}

.d-button {
  width: 100%;
}
