<div class="lb-chart-container">
    <ngx-charts-bar-vertical [scheme]="scheme" [results]="lapData" [xAxis]="true" [yAxis]="true" [yScaleMax]="yScaleMax"
        [yScaleMin]="yScaleMin" [customColors]="colors" [barPadding]="1" (select)="onSelect($event)"
        [tooltipDisabled]="true" />
</div>


<div class="lb-chart-navigation">
    <button (click)="selectPrevBar()">
        <ng-icon name="letsArrowLeft" />
    </button>
    <span class="text-secondary">
        {{selectedLap?.originalValue | number: '1.0-2'}} s
        {{selectedLap?.originalValue === fastestLap?.originalValue ? '(snelste ronde)' : ''}}
    </span>
    <button (click)="selectNextBar()">
        <ng-icon name="letsArrowRight" />
    </button>
</div>