@import '../../../variables.scss';

.lb-chart-container {
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lb-chart-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $spacing-sm;

    button {
        background-color: $subtle-color;
        color: $secondary-color;
    }
}

.lb-chart-value {
    display: flex;
    gap: $spacing-sm;
}

.lb-chart-header {
    display: flex;
    gap: $spacing-xs;
    align-items: center;
    justify-content: center;
    margin: $spacing-sm;

}