@import '../variables';

.current-activity {
    background-color: $accent-color;
    color: white;

    &-title {
        color: white;
    }

    &:hover {
        background-color: darken($accent-color, 10%);
    }
}

.activity {
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;

    &:hover {
        background-color: #f0f0f0;
    }
}