<div class="app-menu-bar px-1 py-1">

  <span class="app-menu-bar__item text-secondary mx-1">🧊🧊 Mijn IJstijden</span>
  <span class="app-menu-bar__item text-secondary mx-1" (click)="toggleRightMenu()">
    <ng-icon name="letsSettingLine" size="24" />
  </span>

  <div *ngIf="leftMenuOpen" class="app-overlay" (click)="toggleMenu()"></div>

  <div class="app-drawer-menu" [ngClass]="{ 'app-drawer-menu--open': leftMenuOpen }">
    <button class="app-drawer-menu__item" (click)="toggleMenu()">
      <ng-icon name="letsArrowLeft" size="24" color="--primay-color" /> Terug
    </button>
  </div>

  <div *ngIf="rightMenuOpen" class="app-overlay" (click)="toggleRightMenu()"></div>

  <div class="app-settings-menu app-settings-menu--right" [ngClass]="{ 'app-settings-menu--open': rightMenuOpen }">
    <div>
      <button class="app-drawer-menu__item" (click)="toggleRightMenu()">
        Terug <ng-icon name="letsArrowRight" size="24" color="--primay-color" />
      </button>

      <form>
        <label for="textInput" hidden>Transponder</label>
        <input type="text" id="textInput" [(ngModel)]="chipInput" name="textInput"
          placeholder="Transponder, bijv. 'AB-12345'">
      </form>
      <button (click)="onClick(chipInput)">Ophalen</button>
      <span class="text-error mx-1" *ngIf="errorMessage">
        {{errorMessage}}
      </span>
    </div>
    <button (click)="clearCache()" class="btn-inverse">Cache verwijderen</button>
  </div>

</div>

<div class="app-content">

  <ng-container *ngIf="!(currentActivity$ | async ) as currentActivity">
    <div class="app-content-void">
      <span class="text-secondary mx-1" (click)="toggleRightMenu()">
        <span>🥶</span>
        <p>Vul je transponder code in. </p>
      </span>
    </div>
  </ng-container>

  <ng-container *ngIf="(currentActivity$ | async ) as currentActivity">
    <ng-container *ngIf="(currentSeasonActivities$ | async) as currentSeasonActivities">
      <ng-container *ngIf="(previousSeasonActivities$ | async) as previousSeasonActivities">

        <activitystats [currentActivity]="currentActivity" (nextActivity)="selectNextActivity()"
          (prevActivity)="selectPrevActivity()" [isMostRecent]="currentActivity === currentSeasonActivities[0]"
          [isOldest]="currentActivity === previousSeasonActivities[previousSeasonActivities.length - 1]" />

        <ng-container *ngIf="(chartTabVariant | async) as tab">
          <div class="tab-container">
            <button class="tab" [class.active]="tab === 'lapTime'" (click)="setTab('lapTime')">
              Rondes (sec)
            </button>
            <button class="tab" [class.active]="tab === 'speed'" (click)="setTab('speed')">
              Rondes (km/u)
            </button>
            <button class="tab" [class.active]="tab === 'distance'" (click)="setTab('distance')">
              Afstand
            </button>
            <button class="tab" [class.active]="tab === 'season'" (click)="setTab('season')">
              Verdeling rondes (sec)
            </button>


          </div>

          <div>

            <div class="tab-item" [class.active]="tab === 'lapTime'">
              <div class="card">
                <barchart [chartTabVariant]="tab" [laps]="currentActivity.laps" [type]="'lapTime'" [yScaleMax]="100"
                  [yScaleMin]="25" />
              </div>
            </div>

            <div class="tab-item" [class.active]="tab === 'speed'">
              <div class="card">
                <barchart [chartTabVariant]="tab" [laps]="currentActivity.laps" [type]="'speed'" [yScaleMax]="40"
                  [yScaleMin]="5" />
              </div>
            </div>

            <div class="tab-item" [class.active]="tab === 'distance'">
              <div class="card">
                <distchart [chartTabVariant]="tab" [currentActivity]="currentActivity" />
              </div>
            </div>

            <div class="tab-item" [class.active]="tab === 'season'">
              <div class="card">
                <histochart [currentSeasonActivities]="currentSeasonActivities"
                  [previousSeasonActivities]="previousSeasonActivities" [currentActivity]="currentActivity"
                  [chartTabVariant]="tab" />
              </div>
            </div>

          </div>


          <ng-container *ngIf="(seasonTabVariant | async) as tabTwo">
            <div class="tab-container">
              <button class="tab" [class.active]="tabTwo === 'current'" (click)="setSeasonTab('current')">
                Dit seizoen
                <circle-badge [count]="currentSeasonActivities.length" [active]="tabTwo === 'current'" />
              </button>
              <button class="tab" [class.active]="tabTwo === 'previous'" (click)="setSeasonTab('previous')">
                Vorig seizoen
                <circle-badge [count]="previousSeasonActivities.length" [active]="tabTwo === 'previous'" />
              </button>

              <button class="tab" [class.active]="tabTwo === 'progress'" (click)="setSeasonTab('progress')">
                Voortgang
              </button>
            </div>

            <div>
              <div class="tab-item" [class.active]="tabTwo === 'current'">
                <activitieslist [activities]="currentSeasonActivities" [currentActivity]="currentActivity"
                  (selectActivity)="handleAct($event)" />
              </div>
              <div class="tab-item" [class.active]="tabTwo === 'previous'">
                <activitieslist [activities]="previousSeasonActivities" [currentActivity]="currentActivity"
                  (selectActivity)="handleAct($event)" />
              </div>
              <div class="tab-item" [class.active]="tabTwo === 'progress'">
                <div class="card">
                  <distchart-season [currentSeasonActivities]="currentSeasonActivities"
                    [previousSeasonActivities]="previousSeasonActivities" [currentActivity]="currentActivity" />
                </div>
              </div>

            </div>

          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>
  </ng-container>
</div>