<div class="app-menu-bar px-1 py-1">
  <span class="app-menu-bar__item text-secondary mx-1">🧊🧊 Mijn IJstijden</span>
  <span class="app-menu-bar__item text-secondary mx-1" (click)="toggleRightMenu()">
    <ng-icon name="letsSettingLine" size="24" />
  </span>

  <div *ngIf="menuOpen" class="app-overlay" (click)="toggleRightMenu()"></div>

  <div class="menu" [ngClass]="{ 'menu--open': menuOpen }">
    <div>
      <button class="menu-item" (click)="toggleRightMenu()">
        Terug <ng-icon name="letsArrowRight" size="24" color="--primay-color" />
      </button>

      <form>
        <label for="textInput" hidden>Transponder</label>
        <input type="text" id="textInput" [(ngModel)]="chipInput" name="textInput"
          placeholder="Transponder, bijv. 'AB-12345'">
      </form>
      <button (click)="onClick(chipInput)">Ophalen</button>
      <span class="text-error mx-1" *ngIf="errorMessage">
        {{errorMessage}}
      </span>
    </div>
    <button (click)="clearCache()" class="btn-inverse">Cache verwijderen</button>
  </div>

</div>

<div *ngIf="!chipInput" class="app-content-void">
  <span class="text-secondary mx-1" (click)="toggleRightMenu()">
    <span>🥶</span>
    <p>Vul je transponder code in. </p>
  </span>
</div>


<ng-container *ngIf="currentData$ | async as d">
  <div class="app-content">

    <activitystats [currentActivity]="d.currentActivity" (nextActivity)="selectNextActivity()"
      (prevActivity)="selectPrevActivity()" [isMostRecent]="d.currentActivity === d.currentSeasonActivities[0]"
      [isOldest]="d.currentActivity === d.previousSeasonActivities[d.previousSeasonActivities.length - 1]" />

    <ng-container *ngIf="(chartTab | async) as tab">
      <div class="tab-container">
        <button class="tab" [class.active]="tab === 'lapTime'" (click)="setTab('lapTime')">
          Rondes (sec)
        </button>
        <button class="tab" [class.active]="tab === 'speed'" (click)="setTab('speed')">
          Rondes (km/u)
        </button>
        <button class="tab" [class.active]="tab === 'distance'" (click)="setTab('distance')">
          Afstand
        </button>
        <button class="tab" [class.active]="tab === 'season'" (click)="setTab('season')">
          Verdeling rondes (sec)
        </button>
      </div>

      <div>

        <div class="tab-item" [class.active]="tab === 'lapTime'">
          <div class="card">
            <barchart [chartTab]="tab" [laps]="d.currentActivity.laps" [type]="'lapTime'" [yScaleMax]="100"
              [yScaleMin]="25" />
          </div>
        </div>

        <div class="tab-item" [class.active]="tab === 'speed'">
          <div class="card">
            <barchart [chartTab]="tab" [laps]="d.currentActivity.laps" [type]="'speed'" [yScaleMax]="40"
              [yScaleMin]="5" />
          </div>
        </div>

        <div class="tab-item" [class.active]="tab === 'distance'">
          <div class="card">
            <distchart [chartTab]="tab" [currentActivity]="d.currentActivity" />
          </div>
        </div>

        <div class="tab-item" [class.active]="tab === 'season'">
          <div class="card">
            <histochart [currentSeasonActivities]="d.currentSeasonActivities"
              [previousSeasonActivities]="d.previousSeasonActivities" [currentActivity]="d.currentActivity"
              [chartTab]="tab" />
          </div>
        </div>

      </div>


      <ng-container *ngIf="(seasonTab | async) as tab">
        <div class="tab-container">
          <button class="tab" [class.active]="tab === 'current'" (click)="setSeasonTab('current')">
            Dit seizoen
            <circle-badge [count]="d.currentSeasonActivities.length" [active]="tab === 'current'" />
          </button>
          <button class="tab" [class.active]="tab === 'previous'" (click)="setSeasonTab('previous')">
            Vorig seizoen
            <circle-badge [count]="d.previousSeasonActivities.length" [active]="tab === 'previous'" />
          </button>

          <button class="tab" [class.active]="tab === 'progress'" (click)="setSeasonTab('progress')">
            Voortgang
          </button>
        </div>

        <div>
          <div class="tab-item" [class.active]="tab === 'current'">
            <activitieslist [activities]="d.currentSeasonActivities" [currentActivity]="d.currentActivity"
              (selectActivity)="handleAct($event)" />
          </div>
          <div class="tab-item" [class.active]="tab === 'previous'">
            <activitieslist [activities]="d.previousSeasonActivities" [currentActivity]="d.currentActivity"
              (selectActivity)="handleAct($event)" />
          </div>
          <div class="tab-item" [class.active]="tab === 'progress'">
            <div class="card">
              <distchart-season [currentSeasonActivities]="d.currentSeasonActivities"
                [previousSeasonActivities]="d.previousSeasonActivities" [currentActivity]="d.currentActivity" />
            </div>
          </div>
        </div>

      </ng-container>
    </ng-container>
  </div>
</ng-container>