@import "../variables.scss";

.app-content {
  margin-top: 50px;

  &-void {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    background: #72c6ef;
    background: linear-gradient(30deg, #aedef6, #bee2ff);
  }
}
