@import "../../../variables";

.canvas-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $spacing-lg;
}

.canvas-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: $spacing-xs 0;
  gap: $spacing-xs;
  width: 80vw;

  button {
    width: 100%;
  }
}

.three-canvas {
  width: 80vw;
  height: 80vw;
  margin: 0 auto;
}
