@import '../../../../variables';

.chart-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: $spacing-sm;

    button {
        background-color: $subtle-color;
        color: $secondary-color;
    }
}