<div *ngIf="(d.chipCode$ | async) === null" class="app-void-content">
  <span class="text-secondary mx-1">
    <span>🥶</span>
    <button
      class="app-void-button"
      (click)="ui.openDrawer()"
      (keyup)="ui.openDrawer()"
    >
      Vul je transponder code in.
    </button>
  </span>
</div>

<cad-page [isLoading]="(d.status$ | async) === 'loading'">
  <ng-container *ngIf="d.currentData$ | async as d">
    <cad-activitystats
      class="stats-container"
      *ngIf="d.currentActivity.laps && d.currentActivity.activityId"
    />

    <div class="py-1">
      <cad-tabs [tabs]="tabs" [groupId]="'home'">
        <cad-tab [tabId]="'lapTime'" [groupId]="'home'">
          <cad-card>
            <cad-combochart
              [laps]="d.currentActivity.laps"
              [type]="'lapTime'"
              [yScaleMax]="100"
              [yScaleMin]="25"
            />
          </cad-card>
        </cad-tab>
        <cad-tab
          [tabId]="'speed'"
          *ngIf="d.currentActivity.laps"
          [groupId]="'home'"
        >
          <cad-card>
            <cad-combochart
              [laps]="d.currentActivity.laps"
              [type]="'speed'"
              [yScaleMax]="40"
              [yScaleMin]="5"
            />
          </cad-card>
        </cad-tab>

        <cad-tab
          [tabId]="'distance'"
          *ngIf="d.currentActivity.laps"
          [groupId]="'home'"
        >
          <cad-card>
            <cad-distchart [currentActivity]="d.currentActivity" />
          </cad-card>
        </cad-tab>

        <cad-tab [tabId]="'myNotes'" [groupId]="'home'">
          <cad-card>
            <cad-checklist [currentActivity]="d.currentActivity" />
          </cad-card>
        </cad-tab>
      </cad-tabs>
    </div>

    <div class="py-1">
      <cad-tabs [tabs]="tabsTwo" [groupId]="'home2'">
        <cad-tab [tabId]="'allChecks'" [groupId]="'home2'">
          <cad-card>
            <cad-checkliststats />
          </cad-card>
        </cad-tab>

        <cad-tab [tabId]="'freeNotes'" [groupId]="'home2'">
          <cad-card>
            <cad-notes [currentActivity]="d.currentActivity" />
          </cad-card>
        </cad-tab>

        <cad-tab [tabId]="'season'" [groupId]="'home2'">
          <cad-card>
            <cad-histochart
              [curActivities]="d.curActivities"
              [prevActivities]="d.prevActivities"
              [currentActivity]="d.currentActivity"
            />
          </cad-card>
        </cad-tab>

        <cad-tab [tabId]="'distSeason'" [groupId]="'home2'">
          <cad-card>
            <cad-distchart-season
              *ngIf="d.currentActivity.laps"
              [curActivities]="d.curActivities"
              [prevActivities]="d.prevActivities"
              [currentActivity]="d.currentActivity"
            />
          </cad-card>
        </cad-tab>
      </cad-tabs>
    </div>
    <div class="pb-2">
      <cad-card>
        <cad-notes [currentActivity]="d.currentActivity" />
      </cad-card>
    </div>
  </ng-container>
</cad-page>
