<cad-page [isLoading]="isLoading">
  <ng-container *ngIf="d.currentData$ | async as d">
    <cad-activitystats
      class="stats-container"
      *ngIf="d.currentActivity.laps && d.currentActivity.activityId"
    />

    <cad-tabs [tabs]="tabs" [groupId]="'home'">
      <cad-tab [tabId]="'lapTime'" [groupId]="'home'">
        <cad-card class="mx-2 my-2">
          <cad-barchart
            [laps]="d.currentActivity.laps"
            [type]="'lapTime'"
            [yScaleMax]="100"
            [yScaleMin]="25"
          />
        </cad-card>
      </cad-tab>
      <cad-tab
        [tabId]="'speed'"
        *ngIf="d.currentActivity.laps"
        [groupId]="'home'"
      >
        <cad-card>
          <cad-barchart
            [laps]="d.currentActivity.laps"
            [type]="'speed'"
            [yScaleMax]="40"
            [yScaleMin]="5"
          />
        </cad-card>
      </cad-tab>

      <cad-tab
        [tabId]="'distance'"
        *ngIf="d.currentActivity.laps"
        [groupId]="'home'"
      >
        <cad-card>
          <cad-distchart [currentActivity]="d.currentActivity" />
        </cad-card>
      </cad-tab>

      <cad-tab [tabId]="'season'" [groupId]="'home'">
        <cad-card>
          <cad-histochart
            [curActivities]="d.curActivities"
            [prevActivities]="d.prevActivities"
            [currentActivity]="d.currentActivity"
          />
        </cad-card>
      </cad-tab>

      <cad-tab [tabId]="'myNotes'" [groupId]="'home'">
        <cad-card>
          <cad-notes [currentActivity]="d.currentActivity" />
        </cad-card>
      </cad-tab>
    </cad-tabs>

    <cad-card>
      <cad-distchart-season
        *ngIf="d.currentActivity.laps"
        [curActivities]="d.curActivities"
        [prevActivities]="d.prevActivities"
        [currentActivity]="d.currentActivity"
      />
    </cad-card>
  </ng-container>
</cad-page>
