$primary-color: #ff4500; // Bright, sporty orange-red
$secondary-color: #1e90ff; // Vivid blue for highlights
$tertiary-color: #ffab00; // Bright yellow for contrast
$background-color: #f4f4f9; // Light gray background for contrast
$accent-color: #00c853; // Bright green accent for success messages
$dark-color: #333333; // Dark text color for readability
$simple-gray: #a7ada3; // Light gray text color for subtle text
$subtle-color: #f9f9f9; // Light gray text color for subtle text

$success-color: #00c853; // Bright green for success messages
$warning-color: #ffab00; // Bright yellow for warnings
$error-color: #d32f2f; // Dark red for error messages

// Typography
$font-family: 'RobotoDraft', sans-serif;
$heading-font-size: 1.25rem;
$heading-font-size-mob: 1rem;

$key-font-size: 1.1rem;
$key-font-size-mob: 0.9rem;

$body-font-size: 1rem;
$body-font-size-mob: 0.875rem;

// Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Spacing
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;

// Border Radius
$border-radius: 0px;

// Breakpoints
$breakpoint-mobile: 768px; // Medium devices (tablets, etc.)