<div id="chart" class="as-card" *ngIf="currentActivity?.activityId">
  <button
    [ngClass]="{
      'as-button': true,
      'as-button__disabled': isOldest,
    }"
    [disabled]="isOldest"
    (click)="onPrevious()"
  >
    <ng-icon name="letsArrowLeft" />
  </button>
  <div>
    <div class="as-card-header">
      <h2 class="text-accent">{{ currentActivity.location }}</h2>
      <h3 class="text-accent as-date">
        {{ currentActivity.startTime | date: "EEEE d MMMM y" }}
      </h3>
    </div>

    <div class="as-card-body as-stats">
      <div class="as-badge">
        <div class="as-badge-label">Snelste</div>
        <div class="as-badge-value">
          {{ currentActivity.bestLap.duration | number: "1.0-2" }}
          <div class="as-badge-unit">sec</div>
        </div>
        <div class="as-badge-value">
          {{ currentActivity.bestLap.speed | number: "1.0-2" }}
          <div class="as-badge-unit">km/u</div>
        </div>
      </div>

      <div class="as-badge">
        <div class="as-badge-label">Gemiddelde</div>
        <div class="as-badge-value">
          {{ currentActivity.medianTime | number: "1.0-2" }}
          <div class="as-badge-unit">sec</div>
        </div>
        <div class="as-badge-value">
          {{ currentActivity.averageSpeed | number: "1.0-2" }}
          <div class="as-badge-unit">km/u</div>
        </div>
      </div>

      <div class="as-badge">
        <div class="as-badge-label">Totaal</div>

        <div class="as-badge-value">
          {{ totalTrainingTime[0] }}
          <div class="as-badge-unit">{{ totalTrainingTime[1] }}</div>
        </div>
        <div class="as-badge-value">
          {{ currentActivity.lapCount }}
          <span class="as-badge-unit">rondes</span>
        </div>

        <div class="as-badge-value">
          {{ totalDistance | number: "1.0-2" }}
          <span class="as-badge-unit">km</span>
        </div>
      </div>
    </div>
  </div>

  <button
    [ngClass]="{
      'as-button': true,
      'as-button__disabled': isMostRecent,
    }"
    [disabled]="isMostRecent"
    (click)="onNext()"
  >
    <ng-icon name="letsArrowRight" />
  </button>
</div>

<ng-template #dataBadgeTemplate let-label let-value let-unit>
  <div class="as-badge">
    <div class="as-badge-label">{{ label }}</div>
    <div class="as-badge-value">
      {{ value }} <span class="as-badge-unit">{{ unit }}</span>
    </div>
  </div>
</ng-template>
