<div class="px-1 py-1" *ngIf="currentActivity.activityDetails">
    <div id="chart" class="card as-navigation-card">
        <button class="as-navigation-button" (click)="onPrevious()">
            <ng-icon name="letsArrowLeft" />
        </button>
        <div>
            <div class="card-header">
                <h2 class="text-accent">{{currentActivity.location?.name}}</h2>
                <h3 class="text-accent">{{currentActivity.startTime | date:'EEEE d MMMM y' }}
                </h3>
            </div>

            <div class="card-body as-stats">
                <div class="as-data-badge">
                    <div class="as-data-badge-value">
                        {{currentActivity.activityDetails.bestLap?.duration | number:'1.0-2'}} <span
                            class="as-data-badge-unit">s</span>
                    </div>
                    <div class="as-data-badge-value">
                        {{currentActivity.activityDetails.stats?.fastestSpeed?.kph | number:'1.0-2'}}
                        <span class="as-data-badge-unit">km/u</span>
                    </div>
                    <div class="as-data-badge-label">
                        Snelste ronde
                    </div>
                </div>

                <div class="as-data-badge">
                    <div class="as-data-badge-value">
                        {{currentActivity.activityDetails.stats?.lapCount}}
                        <span class="as-data-badge-unit">rondes</span>
                    </div>

                    <div class="as-data-badge-value">
                        {{totalTrainingTime[0]}}
                        <span class="as-data-badge-unit">{{totalTrainingTime[1]}}</span>
                    </div>
                    <div class="as-data-badge-label">
                        Totaal
                    </div>
                </div>
            </div>
        </div>
        <button class="as-navigation-button" (click)="onNext()">
            <ng-icon name="letsArrowRight" />
        </button>
    </div>