@import '../../../variables.scss';

.as-data-badge {
    color: $dark-color;
    font-weight: bold;
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid $accent-color;

    @media (min-width: $breakpoint-mobile) {
        padding: $spacing-sm $spacing-md;
    }
}

.as-data-badge-value {
    font-size: $heading-font-size-mob;
    color: $accent-color;

    @media (min-width: $breakpoint-mobile) {
        font-size: $heading-font-size;
    }
}

.as-data-badge-label {
    font-size: $body-font-size-mob;
    color: $accent-color;
    font-variant: small-caps;
    font-family: $font-family;
    font-weight: lighter;

    @media (min-width: $breakpoint-mobile) {
        font-size: $body-font-size;
    }
}

.as-data-badge-unit {
    font-size: $body-font-size-mob;
    color: $simple-gray;
    font-variant: small-caps;
    font-family: $font-family;
    font-weight: lighter;

    @media (min-width: $breakpoint-mobile) {
        font-size: $body-font-size;
    }
}

.as-stats {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $spacing-sm;
    padding: $spacing-sm;

    @media (min-width: $breakpoint-mobile) {
        gap: $spacing-md;
        padding: $spacing-md;

    }
}

.as-navigation-card {
    display: flex;
    justify-content: space-between;
}

.as-navigation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $spacing-sm $spacing-md;
    background-color: $accent-color;
    border-radius: 0;
    cursor: pointer;

    &-disabled {
        background-color: $simple-gray;
        cursor: not-allowed;
    }
}